.container{
  cursor: pointer;
  width: 300px;
  position: relative;
}

.img{
   border-radius: 10px;
}

.title{
  position: absolute;
  margin-top: -40px;
  height: 40px;
  width: 300px;
  padding-left: 20px;
  padding-top: 8px;
  padding-right: 20px;
  background-color: rgb(0, 0, 0,0.8);
  border-bottom-left-radius:10px ;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 

}