body{
    color: white;
    font-family: Maximun Impact;
}

::-webkit-scrollbar{
  /* background: transparent; */
}

::-webkit-scrollbar-thumb:horizontal{
    /* border: rgba(0, 0, 0, 0.61); */
    border-radius: 10px;
}